@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size:0.6em;
	font-weight: 400; 	
	
}



.img{
	
	padding: 5px 10px 5px 10px;
	
}
h1{
	color: #800080;
	
}

.Botao1 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	font-size: 1.2em;
	font-weight: 700;
	color: #fff;
	border-radius: 20px;
	border: 0;
	cursor: wait;

   
   
}
.Botao2 {
	text-decoration: none;
	background-color: #ff0000;
	padding: 5px 10px 5px 10px;
	font-size: 1.2em;
	font-weight: 700;
	color: #fff;
	border-radius: 20px;
	
}

.Caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff
	
}
.Caixa2 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #004080
	
}
#Caixa3 {
	
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
}
.Fone1 {
	
	padding: 3px;
	margin-bottom: 10px;
	border: 1px solid #66bbff
	
}


#tabela {
	margin-top: 20px;
	
}
#tabela th {
	border:1px solid #ddd;
	padding:8px;
	background-color: #66bbff;
	color:#fff;
	
}

#tabela td {
	border:1px solid #c0c0c0;
	padding:8px;
	
}





